<div class="main">
	<div class="box">
		<h1>Treehouse</h1>
		<%= link_to "Interactive webpages with javaScript", treehouse1_path %>
	</div>
	<div class="box">
		<h1>JavaScript &amp; jQuery </h1>
		<%= link_to "Interactive webpages with javaScript", treehouse1_path %>
	</div>
</div>

